*.pth filter=lfs diff=lfs merge=lfs -text
model/plant_disease_model.pth filter=lfs diff=lfs merge=lfs -text
model/plant_disease_model.keras filter=lfs diff=lfs merge=lfs -text
model/*.pth filter=lfs diff=lfs merge=lfs -text
model/*.keras filter=lfs diff=lfs merge=lfs -text
